*.exe
*.pyc
Flex/ffmpeg/bin
__pycache__/
Downloaded Audio/GB'$ music/you're evolving, but keeping everything private _ 1 Hour of Stoic Ambience (320 kbps).mp3
Downloaded Audio/GB'$ music/path.wav
Downloaded Audio/GB'$ music/Oldies playing in another room, it's a great night (Open window, crickets ambience) 3 HOUR (320K).mp3
